/* ✿BODY✿ ◕‿◕*/
body{
    background-color: #f3f3f3;
    color: #000000;
}

/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ HEADER ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/
/*========== HEADER SUPERIOR ==========*/

/*-----BARRA TOP CONTACTO-----*/
    .divMenu {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        background: #000000;
        position: fixed;
        width: 100%;
        height: 5vh;

        z-index: 2;
    }
    
    .contIzq {
        text-align: center;
    }

    .contDer {
        text-align: center;
        padding-right: 0%;
        margin-right: 0%;
    }
    
/*---------MENÚ-----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.logo-menu{
  width: 40%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.contentmenu{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 4px 0;
  transition: all 0.3s ease;
  background-color: #ffbc03ce; /*FONDO MENÚ*/
  margin-top: 5vh;
}
.navbar.sticky{
  background: #222222;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .contentmenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.menu-list{
    margin: auto; /*-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO- borrar*/
}

.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

@media screen and (max-width: 767px){
  .navbar{
    margin-top: 8vh;
  }
  .divMenu{
    height: 10vh;
  }
}

@media (max-width: 1230px) {
  .contentmenu{
    padding: 0 60px;
  }
  
}
@media (max-width: 1100px) {
  .contentmenu{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .contentmenu{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    margin-left: 20px; /*-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-ESTO-*/
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }

}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }



} /*-------------FIN-------------*/


/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ SECCIÓN 1 ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/

/*========== SECCIÓN PORTADA ==========*/

.bienvenido{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.bienvenidomarcas{
    font-size: 17px;
    color: #ffffff;
}

.divPortada {
    width: 100%;
    height: 120%;
    padding-top: auto;
    padding-left: 0;
    padding-right: 0;

}

.portada {
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("imagenes/Overhead-Full-Famil2B23F33-HORIZ.jpg");
    background-size: auto;
    animation: movimiento 50s infinite linear alternate;
    background-repeat: no-repeat;
}

.textoPortada {
    width: auto;
    padding-left: 10vh;
    padding-top: 35vh;
}

@keyframes movimiento {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.capa {
    padding: 0;
    width: 100%;
    height: 100%;
    background: #2744448f;
}/*------------FIN---------------*/


/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ SECCIÓN 2 ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/

/*========== SECCIÓN CONÓCENOS ==========*/

/*--BARRA CONÓCENOS--*/
#barra-separadora{
    background-color: #2e2e2e;
    width: auto;
    margin: 20px 0px 30px 0px;
    padding: 40px;
}

.textobarra{
    font-size: xx-large;
    color: #ffffff;
    margin: 10px auto;
    padding-left: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*--ZONA INFORMACIÓN CONÓCENOS--*/
.hcabrera-info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

.servyrep-info{
    font-family: monospace;
    font-size: 14px;
    color: black;
    margin-left: 30px;
    width: 50%;
}

.barra-separadora-2{
    padding: 0px;
}

.infoizquierda{
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
}

.infocentro{
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
}

.infoderecha{
    margin-left: 15%;
    width: 80%;
    height: 100%;
}
/*------------FIN---------------*/


/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ SECCIÓN 3 ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/

/*========== SECCIÓN SERVICIOS ==========*/



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.servicios{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .servicios{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}


/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ SECCIÓN 4 ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/

.boton-construccion{
  height: 20vh;
  text-align: center;
}
/*TIPO RESPUESTOS*/

.boxs {
  position: relative;
  margin-bottom: 30px;
  color: #4d585f;
  background-color: white;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  border-radius: 3px;
}
.project_widget .pw_img {
  position: relative;
  overflow: hidden
}
.project_widget .pw_img:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg)
}
.project_widget .pw_img:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s
}
@-webkit-keyframes shine {
  100% {
      left: 125%
  }
}
@keyframes shine {
  100% {
      left: 125%
  }
}
.project_widget .pw_img img {
  border-radius: 3px 3px 0 0
}
.project_widget .pw_content .pw_header {
  padding: 20px;
  border-bottom: 1px solid #4a4c4e
}
.project_widget .pw_content .pw_header h6 {
  font-size: 16px;
  margin: 0
}
.project_widget .pw_content .pw_header small {
  font-size: 12px
}
.project_widget .pw_content .pw_meta {
  padding: 20px
}
.project_widget .pw_content .pw_meta small,
.project_widget .pw_content .pw_meta span {
  display: block
}
.project_widget .pw_content .pw_meta span {
  font-weight: 500
}
.imagenRepuesto {
  width: 100%;
  height: 250px;
}
.cuadroImagen {
  margin-bottom: 30px;
}
/*FIN TIPO REPUESTOS*/
.imagenRepuesto {
  width: 100%;
  height: 250px;
}
.cuadroImagen {
  margin-bottom: 30px;
}
.fondoImagenM {
  margin-left: 100px;
  margin-right: 100px;
}
.descripcionRepuesto {
  letter-spacing: 9px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;
}
.imagenMarca {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.divRelleno {
  height: 100px;
}


/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ SECCIÓN 5 ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ventana-contacto {
  display: flex;
  min-height: 85vh;
}

.container {
  flex: 0 1 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-radius: 15px;
 
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #f5d000;
  font-size: 35px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #f5d000;
}

.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: initial;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

#bEnviar {
  background: none;
  border: none;
  color: #f5d000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  
}

#bEnviar:hover {
  color: #bed398;
}

.mensaje-contacto{
  height: 10vh;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}






/*▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ FOOTER ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄*/

/*---INICIO | FOOTER INFERIOR---*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.textofooter{
    color: white;
}

.titulofooter{
    color: white;
}

.content1{
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #f5ebeb;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  
  bottom: 0px;
  width: 100%;
  background: #222222;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f5d000;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #c9c8c7; /* COLOR MOUSE EN REDES SOCIALES */
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #f5d000;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #fff5bf; /* COLOR MOUSE EN ICONOS CONTACTO */
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #d4d4d4;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #d4d4d4;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f5d000; /* COLOR BOTÓN SEND */
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(255, 235, 181);  /* COLOR MOUSE BOTÓN SEND */
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f5d000; /* COLOR CRÉDITOS */
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
/*-------------FIN-------------*/





/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------OTROS-------------------------------------------------*/

/*CSS WHATSAPP FLOTANTE*/
    
.whatsappfloat {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsappfloat:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-whatsappfloat {
    margin-top: 16px;
}

/*ESTILO PARA ERRORES*/

.errores{
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background: rgba(255, 0, 0, 0.692);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #fff;
  display: none;
  font-size: 14px;
  margin-top: -40px;
  margin-left: 250px;
  width: 140px;
  padding: 3px;
  position: absolute;

}


.celu{
  display: flex;
  margin-bottom: 0;
}

.verificador{
  margin-bottom: 0;
margin-top: 8px;
margin-right: 5px;
color: #f5d000;
}

#itMensaje{
  height: 60px;
}